:root {
  --base-hue: 120;
  --saturation: 40%;
  --lightness: 80%;
  --rotation: 60;
  --bg: #fbeaff;
  --fg: #b8a1d5;
  --font-color: #372b47;
  --purple: #8a4fff;
  --pink: #ff27c9;
  --red: #ff498d;
  --peach: #ff8b5e;
  --orange: #ffc64e;
  --yellow: #f9f871;
  --green: #009474;
  --saphire: #0096b6;
  --blue: #0077ff;
  --cold-blue: #008cff;
  --cyan: #0094f0;
  --cold-green: #64baa9;
  --light-green: #c4fcef;
  --dark-green: #4d8076;
  --gray: #b0a8b9;
  --dark-gray: #4b4453;
  --golden: #9a7000;
  --brown: #bb5d00;
}

/* start utilities */

.colors {
  --base-hue: 120;
  --saturation: 40%;
  --lightness: 80%;
  --rotation: 60;

  color: #222;
  text-align: center;
}

.color {
  padding: 0.25rem;
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
}

.green {
  --hue: calc(var(--base-hue));
}

.blue {
  --hue: calc(var(--base-hue) + var(--rotation));
}

.purble {
  --hue: calc(var(--base-hue) + var(--rotation) * 2);
}

.pink {
  --hue: calc(var(--base-hue) + var(--rotation) * 3);
}

.orange {
  --hue: calc(var(--base-hue) + var(--rotation) * 4);
}

.yellow {
  --hue: calc(var(--base-hue) + var(--rotation) * 5);
}

/* end utilities */
/* start reset */

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4 {
  /* Help prevent overflow of long words/names/URLs */
  overflow-wrap: break-word;

  /* Optional, not supported for all languages */
  hyphens: auto;
}

/* end reset */

body {
  font-family: "journalregular", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--font-color);
  background-color: #eee;
}

.container {
  width: min(40ch, 100% - 2rem);
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: clamp(1.75rem, 4vw + 2rem, 3rem);
  margin: 0;
}

header h1 span {
  font-size: 2rem;
}

section {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

form {
  /* width: clamp(45ch, 50%, 75ch); */
  /* padding: 1.5rem clamp(1rem, 5%, 3rem); */
  /* margin-top: 3em; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-family: "journalregular";
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 700px) {
}

/* ARROW ANIMATION */

.arrow {
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-bottom: 5px solid var(--purple);
  border-right: 5px solid var(--purple);
  transform: rotate(45deg);
  margin: -20px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
